.fondoGradient{
    background: rgba(199, 45, 40, 0.8);
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(234, 174, 173, 0) 15%, rgba(228, 152, 150, 0.36738445378151263) 28%, rgba(216, 106, 102, 0.4682247899159664) 40%, rgba(210, 83, 79, 0.6783088235294117) 51%, rgba(204, 62, 57, 0.8323704481792717) 63%, rgba(199, 45, 40, 1) 86%, rgba(199, 45, 40, 1) 100%); */
}
.fondoOscuro{
     background-color: rgb(199, 45, 40);
}
/* .usuSesion{
    display: none;
} */
.buscador {
    border-radius: 40px;
}

.linkLateral {
    background-color: rgb(199, 45, 40)
}

.btnIzq {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.btnDer {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
.oculto{
    display: none;
}