<div class="contenedorAP ">

    <div class="subc">
        <div class="row m-5 mx-5">
            <div class="col-md-6 col-12 info py-3 px-5 my-3">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            <h3 class="text-center m-1">Administrador de películas</h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            <h3 class="text-center m-1">Previsualización</h3>
                        </a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form class="my-4 mr-4 px-4" #ActualizarPelicula="ngForm" (ngSubmit)="ProcesarFormulario()">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label " for="nombre">Título</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm " placeholder="Nombre" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="peliculaTrabajada.title">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label " for="genero">Género</label>
                                <div class="col-sm-10">
                                    <input type="text" class=" form-control form-control-sm " placeholder="Género" id="genero" name="genero" #genero="ngModel" [(ngModel)]="peliculaTrabajada.genre">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label " for="director">Director</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Director" id="director" name="director" #director="ngModel" [(ngModel)]="peliculaTrabajada.director">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label " for="actores">Actores</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" placeholder="Actor" id="actores" name="actores" #actores="ngModel" [(ngModel)]="peliculaTrabajada.actors">
                                </div>
                                <button class="col-sm-1 btn-sm btn-danger" type="button" style="max-height: 35px;"><i class="material-icons">add</i></button>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="anio">Año</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control form-control-sm" placeholder="Año de estreno" id="anio" name="anio" #anio="ngModel" [(ngModel)]="peliculaTrabajada.year">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="duracion">Duración</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Duración" id="duracion" name="duracion" #duracion="ngModel" [(ngModel)]="peliculaTrabajada.duration">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label " for="sinopsis">Sinopsis</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control form-control-sm" placeholder="Sinopsis" id="sinopsis" name="sinopsis" #sinopsis="ngModel" [(ngModel)]="peliculaTrabajada.synopsis"> </textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label " for="pelicula">Película</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Url pelicula" id="pelicula" name="pelicula" #pelicula="ngModel" [(ngModel)]="peliculaTrabajada.movie">
                                </div>
                            </div>

                            <input type="hidden" value="{{peliculaTrabajada._id}}" name="_id" #_id="ngModel" [(ngModel)]="peliculaTrabajada._id">

                            <div class="row my-2">
                                <label class="col-sm-3 col-form-label " for="subImag">Subir Imágen</label>
                                <input type="file" id="subImag" multiple (change)="subirArchivoImg($event)">
                            </div>
                            <div class="row my-2">
                                <label class="col-sm-3 col-form-label " for="subTrailer">Subir trailer</label>
                                <input type="file" id="subTrailer" multiple (change)="subirArchivoTrailer($event)" required>
                            </div>

                            <div class="d-flex justify-content-around m-2">
                                <button class="btn btn-sm btn-secondary m-2" type="submit">Guardar</button>
                                <button class="btn btn-sm btn-secondary m-2" type="reset" (click)="deleteId()">Nuevo documento</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <img class="img-fluid" alt="Responsive image" #imgPeli src="">
                        <video class="d-flex justify-content-center" #vidPeli controls>
                    
                </video>

                    </div>
                </div>



            </div>

            <!--  -->
            <!--  <div class="col-md-6 col-12 info py-3 my-3">
            <h3 class="text-center mb-3">Administrador de películas</h3>

            <form class="my-4 mr-4 px-4" #ActualizarPelicula="ngForm" (ngSubmit)="ProcesarFormulario()">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label " for="nombre">Título</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm " placeholder="Nombre" id="nombre"
                            name="nombre" #nombre="ngModel" [(ngModel)]="peliculaTrabajada.title">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label " for="genero">Género</label>
                    <div class="col-sm-10">
                        <input type="text" class=" form-control form-control-sm " placeholder="Género" id="genero"
                            name="genero" #genero="ngModel" [(ngModel)]="peliculaTrabajada.genre">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label " for="director">Director</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" placeholder="Director" id="director"
                            name="director" #director="ngModel" [(ngModel)]="peliculaTrabajada.director">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label " for="actores">Actores</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="Actor" id="actores"
                            name="actores" #actores="ngModel" [(ngModel)]="peliculaTrabajada.actors">
                    </div>
                    <button class="col-sm-1 btn-sm btn-danger " style="max-height: 35px;"><i class="material-icons">add</i></button>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="anio">Año</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control form-control-sm" placeholder="Año de estreno" id="anio"
                            name="anio" #anio="ngModel" [(ngModel)]="peliculaTrabajada.anio">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="duracion">Duración</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" placeholder="Duración" id="duracion"
                            name="duracion" #duracion="ngModel" [(ngModel)]="peliculaTrabajada.duracion">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label " for="sinopsis">Sinopsis</label>
                    <div class="col-sm-10">
                        <textarea class="form-control form-control-sm" placeholder="Sinopsis" id="sinopsis"
                            name="sinopsis" #sinopsis="ngModel" [(ngModel)]="peliculaTrabajada.sinopsis"> </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label " for="pelicula">Película</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" placeholder="Url pelicula" id="pelicula"
                            name="pelicula" #pelicula="ngModel" [(ngModel)]="peliculaTrabajada.pelicula">
                    </div>
                </div>

                <input type="hidden" value="{{peliculaTrabajada._id}}" name="_id" #_id="ngModel"
                    [(ngModel)]="peliculaTrabajada._id">

                <div class="row my-2">
                    <label class="col-sm-3 col-form-label " for="subImag">Subir Imágen</label>
                    <input type="file" id="subImag" multiple (change)="subirArchivoImg($event)">
                </div>
                <div class="row my-2">
                    <label class="col-sm-3 col-form-label " for="subTrailer">Subir trailer</label>
                    <input type="file" id="subTrailer" multiple (change)="subirArchivoTrailer($event)" required>
                </div>

                <div class="d-flex justify-content-around m-2">
                    <button class="btn btn-sm btn-danger m-2" type="submit">Guardar</button>
                    <button class="btn btn-sm btn-danger m-2" type="reset" (click)="deleteId()">Nuevo documento</button>
                </div>
            </form>

            <div>
                <h3>Previsualización</h3>
                <img  #imgPeli src="">
                <video>
                    <source #vidPeli src="">
                </video>
            </div>
        </div>  -->
            <!-- SEGUNDA COLUMNA -->

            <div class="col-md-6 col-12 px-5 my-3">
                <h3 class="text-center mt-4 mb-3">Lista de Películas</h3>

                <div class="input-group md-form form-sm form-1 pl-0 mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text red lighten-3" style="background-color:rgba(199, 45, 40, 0.5) !important;" id="basic-text1"><i
                            class="fas fa-search text-white" aria-hidden="true"></i></span>
                    </div>
                    <input id="search" type="search" (keyup)="buscarPelicula($event.target.value)" class="form-control my-0 py-1" placeholder="Buscar" aria-label="Search">
                </div>

                <table class="table table-sm table-hover table-dark ">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Actualizar Película</th>
                        <th scope="col">Eliminar Película </th>
                    </tr>
                    <tr *ngFor="let pelicula of listaPeliculas" class="">
                        <td> <span>{{pelicula.title}}</span> </td>
                        <td><button class="btn btn-sm btn-secondary" (click)="modPelicula(pelicula._id)">Modificar <i class="material-icons">update
                            </i></button></td>
                        <td> <button class="btn btn-sm btn-secondary" (click)="delPelicula(pelicula._id)">Eliminar <i class="material-icons">delete</i>
                        </button></td>

                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>