<!-- Footer -->

<footer class="page-footer font-small blue footer fixed-bottom">
    <hr class="hr">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
    
            <!-- Content -->
                    <div class="contact">
                        <h5 class="text-uppercase">Contactenos</h5>
                        <!-- Twitter -->
                        <a>
                            <i class="fas fa-mobile-alt  white-text mr-md-5 mr-3 fa-2x"> </i>
                            +57 3126817074 // +57 3127660314
                        </a><br>
                        <!--Instagram-->
                        <a>
                            <i class="fas fa-envelope white-text mr-md-5 mr-3 fa-2x"> </i>
                            animedia@gmail.com
                        </a>
                    </div>
            
            </div>
            <!-- Grid column -->
  
            <hr class="clearfix w-100 d-md-none pb-3">
  
            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3 div-social">
                <!-- Links -->
                <h5 class="text-uppercase">Siguenos en nuestras redes sociales</h5>
                <div class="social">
                    <!-- Facebook -->
                    <a class="fb-ic link">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic link">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic link" href="https://www.instagram.com/">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Whatsapp-->
                    <a class="pin-ic link" href="https://web.whatsapp.com/">
                        <i class="fab fa-whatsapp fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    <hr class="clearfix w-100 d-md-none pb-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center copyright">
        <img src="../../../assets/imagenes/logoAnimediabb.png" width="80" alt="Logo Animedia">
            © 2020 Copyright:
        <a class="link" href="https://google.com/" target="blank_"> 
            TBD Designers.com
        </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
