.pie{
    position: absolute;
    bottom: 0;
}
.social{
    margin: 20px;
    
}
.link{
    color: white;
}
.link:hover{
    color: gray;
}
.contact{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
.div-social{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright{
    margin-top: 20px;
    background-color: rgb(199, 45, 40);
    padding: 8px;
}
.hr{
    background-color: #c0c0c0;
    margin: 40px;

}
