<div class="contenedor d-flex flex-wrap flex-row justify-content-center align-content-center w-100">
    <!--  
-->
    <video #video class="video" src="https://mega01.uqload.com/3rfkqgj3efw2q4drdjo7hmpqanxpsxokt4orqjfliblwyu7zn7ei5fgbuqza/v.mp4" controls></video>
    <!-- <div class="contenedorB">
        <div #btnprev class="boton">
            <span class="material-icons" (click)="retro()">
                skip_previous
            </span>
        </div>
        <div #btnplay class="boton" (click)="pause()">
            <span class="material-icons">
                play_arrow
            </span>
        </div>
        <div #btnpause class="boton" (click)="pause()">
            <span class="material-icons">
                pause
            </span>
        </div>
        <div #btnadel class="boton" (click)="adelantar()">
            <span class="material-icons">
                skip_next
            </span>
        </div>
        <div #btnsubir class="boton" (click)="subir()">
            <span class="material-icons">
                volume_down
            </span>
        </div>
        <div #btnbajar class="boton">
            <span class="material-icons" (click)="bajar()">
                volume_up
            </span>
        </div>
        <div #btnmute class="boton">
            <span class="material-icons" (click)="mutear()">
                volume_off
            </span>
        </div>
        <div #btnunmute class="boton" (click)="mutear()">
            <span class="material-icons">
                surround_sound
            </span>
        </div>
        <div #full class="boton" (click)="fullpantalla()">
            <span class="material-icons">
                fullscreen
            </span>
        </div>
        <div #exit class="boton" (click)="exitFull()">
            <span class="material-icons">
                fullscreen_exit
            </span>
        </div>


    </div> -->
    <!-- https://feurl.com/v/qyx60uekpg6zdm3.mp4 -->
</div>