<div class="contenedor">
    <video #video src="https://stream49.uqload.com/3rfkxzpxabw2q4drdkzpfppqb6eiyrglbkvsuch7a4rzm7xqsw4jyz2q364a/v.mp4" controls></video>
    <!-- <div class="contenedorB">
        <div #btnprev class="boton">
            <span class="material-icons" (click)="retro()">
                skip_previous
            </span>
        </div>
        <div #btnplay class="boton" (click)="pause()">
            <span class="material-icons">
                play_arrow
            </span>
        </div>
        <div #btnpause class="boton" (click)="pause()">
            <span class="material-icons">
                pause
            </span>
        </div>
        <div #btnadel class="boton" (click)="adelantar()">
            <span class="material-icons">
                skip_next
            </span>
        </div>
        <div #btnsubir class="boton" (click)="subir()">
            <span class="material-icons">
                volume_down
            </span>
        </div>
        <div #btnbajar class="boton">
            <span class="material-icons" (click)="bajar()">
                volume_up
            </span>
        </div>
        <div #btnmute class="boton">
            <span class="material-icons" (click)="mutear()">
                volume_off
            </span>
        </div>
        <div #btnunmute class="boton" (click)="mutear()">
            <span class="material-icons">
                surround_sound
            </span>
        </div>
        <div #full class="boton" (click)="fullpantalla()">
            <span class="material-icons">
                fullscreen
            </span>
        </div>
        <div #exit class="boton" (click)="exitFull()">
            <span class="material-icons">
                fullscreen_exit
            </span>
        </div>


    </div> -->
</div>