

 
  .inner{
    overflow: hidden;  /* para wue la imagen no se salga del card cuando seaumente */
  }

  .inner img{
    transition: all 1.5s ease;
  }

  .inner:hover img {
    transform: scale(1.5);
  }
  .contenedorConfi {
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: #c72d28 #231e1e ;
    
  }

.card-imagen {
    width: 280px;
    height: 310px;
  
  }
 .card-imagenCombo{
 /*  width: 300px; */
  height: 300px;
 }

  .gradientbg{
    background: rgb(35,30,30);
    background: radial-gradient(circle, rgba(35,30,30,1) 0%, rgba(199,45,40,1) 100%);
  }

 /*  .fondoP{
    background: rgb(159,154,156);
    background: radial-gradient(circle, rgba(159,154,156,1) 0%, rgba(245,247,250,1) 100%);
  }

  .fondoG{
    background: rgb(35,30,30);
    background: linear-gradient(90deg, rgba(35,30,30,1) 0%, rgba(199,173,40,1) 100%);
  } */

  .fondoP{
    background-color: #c0c0c0;
    height: 100%;
  }
  .fondoG{
    background-color: #d89600;
    height: 100%;
  }
  
.anchoCombo{
  width: 34%;
}

@media only screen and (max-width: 760px){
  .anchoCombo{ width: 90%;}
}

/*   #545454
  #dddddd */
