
  <!-- Avance 2 en pruebas  -->

  <div class=" container pt-5">
    <div class="card-deck contenedorConfi d-flex flex-nowrap text-white">

        <div *ngFor="let confit of confiteriaInfo" >

            <div class="card text-white gradientbg">
                <div class="inner" >
                    <img src={{confit.imagen}} class="card-img-top card-imagen" alt="producto">     
                 </div>
              <div class="card-body">
                <h5 class="card-title ">{{confit.nombre}}</h5>
                <!-- [style.display]= "!sesion.membresia ? 'block':'none'" -->

                <p class="card-text">{{confit.precio}}
                  <button type="button" class="btn btn-secondary btn-sm" (click)="pagos(confit)"> 
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                  </button>
                </p>

              </div>
              <div class="card-footer row">
                <!-- [style.display]="sesion.membresia === 'platino' ? 'block':'none'" -->
                <p  class="fondoP text-dark col-xl-6 col-lg-6 col-md-6 col-sm-10">{{confit.platino}}</p>
                <!-- [style.display]="sesion.membresia === 'gold' ? 'block':'none'"  -->
                <p class="fondoG col-xl-6 col-lg-6 col-md-6 col-sm-10">{{confit.gold}}</p>
              </div>
            </div>
        </div>
    </div>   
  </div>

  <!-- Cards combos -->

  <div class="container pt-5">
    <div class="card-deck contenedorConfi d-flex flex-nowrap text-white ">

        <div *ngFor="let confitC of confiteriaCombo" class="anchoCombo" >
          <div class="card text-white gradientbg">

          <div class="inner">
            <img src={{confitC.imagen}} class="card-img-top card-imagenCombo" alt="combo">
          </div>            
              <div class="card-body">
                <h5 class="card-title">{{confitC.nombre}}</h5>
                <p class="card-text">{{confitC.contenido}}</p>
                <p class="card-text">{{confitC.precio}} 
                  <button type="button" class="btn btn-secondary btn-sm" (click)="pagos(confitC)">
                  <span> <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </span>
              </button>
              </p>
              </div>
              <div class="card-footer row">
        
                <small class="fondoP text-dark col-xl-6 col-lg-6 col-md-6 col-sm-10">{{confitC.platino}}</small>
                <small class="fondoG col-xl-6 col-lg-6 col-md-6 col-sm-10">{{confitC.gold}}</small>
              </div>
            </div>
        </div>
    </div>
  </div>