.sillas{
    width: 8%;
    max-width: 40px;
    height: 40px;
    background-color:  rgba(128, 128, 128, 0.74);
    margin: 2px;
    text-align: center;
    size: 1em;
}
.sillasm{
    width: 40px;
    height: 40px;
}
.pantalla{
    margin-top:10px;
    background-color: rgba(128, 128, 128, 0.74);
}
.disponibles{
    background-color: rgba(128, 128, 128, 0.74);
}
.ocupadas{
    background-color: #C72D28;
}
.seleccionadas{
    background-color: rgb(43, 136, 43);
}
section, .boleteria{
    margin: 50px;
}

.sillas:hover{
    background-color: rgb(43, 136, 43);
}
