.sillas{
    width: 37px;
    height: 37px;
    margin: 2px; 
}
.sillasm{
    width: 30px;
    height: 30px;
}
.pantalla{
    width: 700px;
    background-color: rgba(128, 128, 128, 0.74);
}
.disponibles{
    background-color: rgba(128, 128, 128, 0.74);
}
.ocupadas{
    background-color: #C72D28;
}
.seleccionadas{
    background-color: rgb(43, 136, 43);
}
section, .boleteria{
    margin: 50px;
}

.sillas:hover{
    background-color: rgb(43, 136, 43);
}

input{
    max-width: 100px;
}
select{
    min-width: 100px;
}
.contenedorSillas{
    overflow: auto;
    min-width: auto;
    max-height: 400px;
}
.columna{
    min-width: 170px;
}
.columnaC{
    min-width: 470px;
}
.preferencial, .pantalla{
    min-width: 810px;
}