<div class="boleteria">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $(this).toggleClass("disponibles seleccionadas");
            });
        });

    </script>
    <section class="seleccion">
        <form class="row d-flex justify-content-around " #boleteriaForm="ngForm">
            <label for="puestos">Cantidad de sillas</label>
            <input type="number" #puestosS>
            <label for="sala">Sala</label>
            <select name="sala" id="sala">
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
                <option value="6"> 6 </option>
                <option value="7"> 7 </option>
                <option value="8"> 8 </option>
            </select>
            <label for="Colum">Columna</label>
            <input type="number" name="Colum">
            <label for="Fila">Fila</label>
            <input type="text" name="Fila">

            <span> Ocupadas</span>
            <div class="sillasm ocupadas"></div>
            <span> Disponibles</span>
            <div class="sillasm disponibles"></div>
            <span> Seleccionadas</span>
            <div class="sillasm seleccionadas"></div>

        </form>
    </section>
    <div class="pantalla text-center">
        <h1>Pantalla</h1>
    </div>

        {{puestos}}
    <div class=" row " *ngFor="let silla of sillas">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="col-4 row d-flex justify-content-center">
                    <button id="mi-boton" class="btn disponibles sillas" (click)="puestosSeleccionados()"
                        *ngFor="let columna of columnas">{{silla}}{{columna}}</button>

                </div>
                <div class="col-4 row d-flex justify-content-center ">
                        <button id="mi-boton" class="btn disponibles sillas" (click)="puestosSeleccionados()"
                        *ngFor="let columna of columnas2">{{silla}}{{columna}}</button>
                </div>
                <div class="col-4 row d-flex justify-content-center ">
                   
                        <button id="mi-boton" class="btn disponibles sillas" (click)="puestosSeleccionados()"
                        *ngFor="let columna of columnas3">{{silla}}{{columna}}</button>
                   
                </div>

            </div>

        </div>
    </div>
    <br>
    <div class="row" *ngFor="let silla of sillas2">
        <div class="col-12">
            <div class="d-flex justify-content-center ">
               
                    <button id="mi-boton" class="btn btn-danger sillas" (click)="puestosSeleccionados()"
                    *ngFor="let columna of columnas4">{{silla}}{{columna}}</button>
               
            </div>
        </div>
    </div>

    <!-- </div> -->
</div>