.conteneV{
    
    height: 80%; 
    width: auto;
    z-index: -1;
    
}
.conteneV video{
    width: 70%;
    height: auto;
  }
.oculto{
    display: none;
}
.visible{
    display: inline;
}
.animedia {
    width: 100%;
    height: 20px;
    background: #f92672;
    transition: width 2s, height 2s, margin 2s;
    margin: 100vH auto 0;
    position: absolute;
    z-index: 3;
}
.animedia:hover{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
 