.conteneVideo{
    width: 99%;
    position: relative;
    top: 0;
    left: 0;
}
.video{
    width: 99%;

}
.conteneInfo{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left:50%;
}
.contenedorPeliEs {
    width: 30%;
    margin: 10px;
}

.card-img {
    height: 535px;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

/* .contenedorPeliEs:hover>.card-img-overlay{
        display: none;
    } */

.peli:hover>.card-img-overlay {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .contenedorPeliEs {
        width: 70%;
        margin: auto;
    }
}