<div class="conteneInfo">

    <div class="conteneVideo d-flex justify-content-end">
        <video class="video" #video src="{{actual.trailer}}" autoplay loop muted></video>
    </div>
    <div class="row p-5 conteneInfo">

        <div class="  col-md-4 col-6 d-flex justify-content-center">
            <img class="img-fluid" #imagenP src="{{actual.image}}" alt="">
        </div>

        <div class="col-md-6 col-12">
            <h2 #nombre>{{actual.nombre}}</h2> <br>
            <p #anio>{{actual.anio}}</p> <br>
            <p #sinopsis>{{actual.sinopsis}}</p>

            <!-- Button trigger modal -->
            <button type="button" class="btn myButton" data-toggle="modal" data-target="#exampleModal">
                Ver Trailer
            </button>
            <button type="button" class="btn myButton"(click)="comprarB(this.actual.nombre)">Comprar boletas</button>

            <!-- Modal -->
            <div class="modal fade  " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog  modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: black;" > Trailer- {{actual.nombre}} </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid d-flex justify-content-center">
                            <video class="video" #video src="{{actual.trailer}}"  loop controls></video>
                        </div>
                        </div>
<!--                         <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">S</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<h2 class="m-5" >Cartelera</h2>
<div class="mx-md-5 px-md-5 mx-3 px-3">
    
    <div
        class="contenedorCartelera   row d-flex flex-lg-row flex-md-row flex-sm-row flex-xl-row flex-wrap flex-column w-100">
        <div *ngFor="let pelicula of peliculas" class="contenedorPeliEs col-2 col-xs-6 p-2">
            <div class="card peli bg-dark text-white" (click)="pasarPelicula(pelicula)">
                <img class="card-img img-fluid" src={{pelicula.image}} alt="">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{pelicula.nombre}}</h5>
                    <!-- <p class="card-text">Sinopsis: {{pelicula.sinopsis}}</p>
                    <p class="card-text">Año: {{pelicula.anio}}</p> -->
                </div>
            </div>
        </div>
    </div>
</div>