<div class="contenedor d-flex flex-row flex-wrap justify-content-center">
    <h3 class="w-100 ml-5 pt-5">Elije tu tarjeta!!</h3>
    <div class="contenedorCard d-flex justify-content-center">
        <img src={{cardMorty}} alt="">
    </div>
    <div class="w-50 m-5">
        <button class="btn myButton" (click) = "pagos('platino')">Comprar por 6 meses</button>
    </div>
    <div class="contenedorCard d-flex justify-content-center">
        <img src={{cardRick}} alt="">
    </div>
    <div class="w-50 m-5">
        <button class="btn myButton" (click) = "pagos('gold')">Comprar por 6 meses</button>
    </div>
</div>