.contenedor {
    margin-top: 20px;
    /* height: calc(100vh - 108px); */
}

.contenedorC {
    width: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

.contenedorLder {
    width: 55%;
    display: flex;
    flex-direction: wrap;
}

.contenedorDisplay {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menuL {
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: auto;
    /* width: 15%; */
}

.imgCaro {
    width: 100%;
}

.contenedorInfo {
    background-color: rgba(0,0, 0, 0.5);
    padding: 20px;
}

.info {
    width: 100%;
    text-align: center;
}

.myButton {
    width: auto;
    margin: 10px auto;
    color: white;
    border: 1px solid #c0c0c0;  
    background-color: #231e1e;
}

.myButton:hover {
    background-color: #c0c0c0;
    color: #231e1e;
    border: 1px solid #c0c0c0;
}
.myButton:focus{
    outline: none;
}

.formulario {
    background-color: rgba(0,0, 0, 0.5);
    padding: 20px;
    /* height: 584px;
    overflow-y: scroll; */
}

/* 992 */

@media only screen and (max-width: 992px) {
    .contenedor {
        height: auto;
        margin-top: 20px;
    }
    .contenedorC {
        margin: 12px auto;
        width: 50%;
    }
    .contenedorDisplay {
        margin: 12px auto;
        padding: 10px;
    }
    .contenedorLder {
        margin: auto;
    }
    .menuL {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .formulario {
        padding-top: 20px;
        width: 80%;
    }
}

@media only screen and (max-width: 760px) {
    .contenedorC {
        margin: 12px auto;
        width: 70%;
    }
    .contenedorDisplay {
        width: 70%;
        margin: 12px auto;
    }
}

@media only screen and (max-width: 520px) {
    .contenedorC {
        margin: 12px auto;
        width: 95%;
    }
    .contenedorDisplay {
        width: 95%;
        margin: 12px auto;
    }
}